* {
  box-sizing: border-box;
}

body {
  margin: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1440px;
  column-gap: 24px;
  row-gap: 24px;
  padding: 100px 156px;
  justify-content: center;
  margin: auto;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-out;
}

.gallery-image:hover {
  transform: scale(1.04);
}
